/bin/
coverage.out
*.pp
*.mod.bin
deploy/selinux/*.mod
testdata/fuzz/**/[!R]*
rpmbuild/
deploy/selinux/*.pp*
deploy/selinux/tmp/
dist/
/xproxy-fleet
/xproxy
/xproxyctl
/xproxy-admin
/xproxy-replay
/xgate
/xrelay
/xot
/xsigner
